{% extends 'base.html' %}

{% block content %}
  <h1>Confirmar Importación de Dispositivos Médicos</h1>
  <h2>Actualizaciones</h2>
  <!-- Lista detallada de actualizaciones -->
  <h2>Nuevos Registros</h2>
  <!-- Lista detallada de nuevos registros -->

  <form method="post" action="{% url 'apply_import' %}">
    {% csrf_token %}
    <!-- Puedes incluir los detalles de los registros en campos ocultos -->
    <button type="submit" class="btn btn-primary">Confirmar Importación</button>
  </form>
  <a href="{% url 'cancel_import' %}" class="btn btn-danger">Cancelar</a>
{% endblock %}
